// Default Color

$DarkBlue: hsl(248, 94%, 14%);
$DarkOrange: hsl(56, 90%, 36%);
$White: hsl(0, 0%, 97%);

$DarkGrey: hsl(147, 20%, 83%);

$DarkGreyF: hsl(231, 11%, 77%);
// Overlay

$SkyBlue: hsla(201, 85%, 13%, 0.638);